.card {
  display: grid;
  gap: 0.75em;
  position: relative;
  grid-template-areas:
    "cover"
    "title"
    "info";
}

@container (width > 600px) {
  .card {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    grid-template-areas:
      "title title"
      "cover info";
    column-gap: 1.5em;
  }
}

@container (width > 800px) {
  .card {
    grid-template-areas:
      "cover title"
      "cover info";
    align-items: center;
    row-gap: 1em;
    column-gap: clamp(2em, calc(2cqw + 0.5em), 3em);
  }

  .card__title {
    align-self: end;
  }

  .card__info {
    align-self: start;
  }
}

.card__title {
  font-size: clamp(1.5em, calc(2cqw + 1em), 3em);
  grid-area: title;
}

.card__description {
  font-size: clamp(1em, calc(2cqw + 1em), 1.5em);
}

.card__info {
  grid-area: info;
  gap: inherit;
  display: grid;
}

.card__cover {
  border-radius: 0.5cqw;
  transition: transform 0.2s ease-out;
  grid-area: cover;
  display: flex;
  overflow: hidden;
}

.card__cover picture {
  display: flex;
}

.card:hover .card__cover {
  transform: scale(1.03) rotate(-0.75deg) translateY(-2px);
}

.card__link {
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.card__link:hover {
  color: var(--color-emphasis);
}

.card__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card__cover {
  background-color: #fff;
}
