.card {
  display: grid;
  gap: 1em;
  position: relative;
}

@container (width > 600px) {
  .card {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: clamp(2em, calc(2cqw + 0.5em), 3em);
  }
}

.card__text {
  display: grid;
  gap: 0.75em;
}

.card__title {
  font-size: clamp(1.5em, calc(2cqw + 1em), 3em);
}

.card__description {
  font-size: clamp(1em, calc(2cqw + 1em), 1.5em);
}

.card__cover {
  border-radius: 0.5cqw;
  transition: transform 0.2s ease-out;
}

.card:hover .card__cover {
  transform: scale(1.03) rotate(-0.75deg) translateY(-2px);
}

.card__link {
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.card__link:hover {
  color: var(--color-emphasis);
}

.card__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card__cover {
  background-color: #fff;
}
