.card {
  display: grid;
  gap: 0.75em;
  position: relative;
  grid-template-areas:
    "cover"
    "title"
    "info";
}

@container (width <= 600px) {
  .card__cover {
    margin-bottom: 0.5em;
  }
}

@container (width > 600px) {
  .card {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    grid-template-areas:
      "title title"
      "cover info";
    column-gap: 1.5em;
  }
}

@container (width > 800px) {
  .card {
    grid-template-areas:
      "cover title"
      "cover info";
    align-items: center;
    row-gap: 1em;
    column-gap: clamp(2em, calc(2cqw + 0.5em), 3em);
  }

  .card__title {
    align-self: end;
  }

  .card__info {
    align-self: start;
  }
}

@container (width > 1000px) {
  .card {
    grid-template-columns: 2fr 3fr;
  }
}
.card__title {
  font-size: clamp(1.5em, calc(2cqw + 1em), 3em);
  grid-area: title;
  text-wrap: pretty;
}

.card__description {
  font-size: clamp(1em, calc(2cqw + 0.75em), 1.5em);
}

.card__info {
  grid-area: info;
  row-gap: inherit;
  display: grid;
}

.card__cover {
  grid-area: cover;
  display: flex;
}

.card__cover picture {
  display: flex;
  border-radius: 0.5cqw;
  overflow: hidden;
}

.card__cover--article {
  transition: transform 0.2s ease-out;
}

@media (prefers-reduced-motion: no-preference) {
  .card:hover .card__cover--article,
  .card:hover .card__screenshot {
    transform: scale(1.03) rotate(-0.75deg) translateY(-2px);
  }
}

.card__link {
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.card__link:hover {
  color: var(--color-emphasis);
}

.card__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.card__screenshots {
  position: relative;
  --rot-mod: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .card:hover .card__screenshots {
    --rot-mod: 1.5;
  }

  .card:hover .card__screenshot {
    translate: 0 -5px;
  }
}

.card__screenshot {
  border-radius: 0.75cqw;
  background: hsl(var(--hue), 20%, 12%);
  border: 1px solid hsl(var(--hue), 60%, 40%);
  display: flex;
}

.card__screenshot {
  transition:
    rotate 0.2s ease-out,
    translate 0.2s ease-out,
    scale 0.2s ease-out,
    transform 0.2s ease-out;
  padding: 2%;
}

.card__screenshots:has(.card__screenshot--small) .card__screenshot--large {
  width: 80%;
  rotate: calc(-1.5deg * var(--rot-mod));
}

.card__screenshot--small {
  position: absolute;
  right: 5%;
  width: 20%;
  bottom: -2%;
  rotate: calc(6deg * var(--rot-mod));
}

.card__screenshot picture {
  border: inherit;
}
