.header__nav {
  display: flex;
  justify-content: end;
  gap: calc(1cqw + 0.5em);
  padding: 1em;
  font-size: calc(0.25cqw + 1em);
}

.header__link {
  color: var(--color);
  text-decoration: none;
  transition: color 0.1s ease-out;
  display: flex;
  align-items: center;
}

.header__link:hover {
  color: var(--color-emphasis);
}

.header__home {
  margin-right: auto;
}

.github-sm {
  display: inline-block;
  height: 1em;
  width: auto;
}

.github-lg {
  display: none;
}

.github-sm path {
  fill: currentColor;
}

@media(width > 400px) {
  .github-sm {
    display: none;
  }
  .github-lg {
    display: inline;
  }
}