.prose,
.prose-width {
  max-width: 40em;
  width: 100%;
}

.prose {
  margin-inline: auto;
}

.prose > * + * {
  margin-top: 1em;
}

.prose > * + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.75em;
}

.figure {
  display: grid;
  gap: 0.5em;
  margin-block: 2em;
}

.figure__caption {
  text-align: center;
}

.blog-post {
  box-sizing: border-box;
  max-width: min(30em, 100%);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  padding-inline: 1rem;
  display: grid;
}

.prose hr {
  margin-top: 2em;
  margin-bottom: 1em;
  opacity: 0.375;
}