.prose,
.prose-width {
  max-width: 45em;
  width: 100%;
}

.prose {
  margin-inline: auto;
}

.prose > * + * {
  margin-top: 1em;
}

.prose > * + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 1.75em;
}

.figure {
  display: grid;
  gap: 0.5em;
  margin-block: 2em;
}

.figure__caption {
  text-align: center;
}

.blog-post {
  box-sizing: border-box;
  max-width: min(30em, 100%);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  padding-inline: 1rem;
  display: grid;
}

.prose hr {
  margin-top: 2em;
  margin-bottom: 1em;
  opacity: 0.375;
}

.prose :not(pre) > code {
  color: var(--color-emphasis);
  background-color: var(--bg-alt);
  border: 1px solid var(--color-muted-border);
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  font-size: 1rem;
  position: relative;
}

.prose blockquote {
  background-color: var(--bg-alt);
  border-left: 4px solid var(--color-muted-border);
  padding: 1.5rem;
}

.prose blockquote ul {
  padding-left: 1rem;;
}

.prose pre {
  max-width: 100%;
  overflow-x: scroll;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--bg-alt);
  border: 1px solid var(--color-muted-border);
  border-radius: 0.5rem;
}

code {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
}

.callout {
  background-color: var(--bg-alt);
  border: 1px solid var(--color-emphasis);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  display: grid;
  gap: 0.5em;
}

@media(width > 50rem) {
  .prose > :is(pre, .callout, figure, img, picture, video) {
    margin-inline: -1rem;
    max-width: calc(100% + 2rem);
  }
}