<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{{ title | default: 'Paul Makes Websites' }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% comment %} TODO: Meta Info {% endcomment %}
    {% comment %} <meta name="description" content=""> {% endcomment %}

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"
    >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    {% comment %} Critical, inlined CSS {% endcomment %}
    {% assign inlinedCssFiles = 'base,header,hero,prose,page-heading,view-transitions' | split: ',' %}
    {% assign filesWithPageStyles = inlinedCssFiles | concat: criticalCss %}

    {% capture css %} 
      {% for file in filesWithPageStyles %}
        {% assign path =  '_assets/styles/' | append: file | append: '.css' %}
        {% include path %}
        {% comment %} {{'_assets/styles/' | append: file | append: '.css'}} {% endcomment %}
      {% endfor %}
    {% endcapture %}
    <style>
      {{ css | cssmin }}
    </style>
  </head>

  <body>
    <header class="header">
      <nav class="header__nav">
        <a href="/" class="header__link header__home">Paul Hebert</a>
        <a href="/writing" class="header__link">Writing</a>
        <a href="/work" class="header__link">Work</a>
        <a href="/contact" class="header__link">Contact</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
