---
layout: layouts/base.liquid
---
<link rel="stylesheet" href="/_assets/styles/syntax-highlighting.css">

<div class="prose text-lg blog-post">
  <h1>{{ title }}</h1>

  {{ content }}

  <div class="callout">
    <img src="/_assets/images/tiled-words.png" alt="" class="callout__image">

    <div class="callout__content">
      <h3>Fancy a game?</h3>
      <p>
        Play my <a href="https://playlin.io/news/announcing-the-2025-playlin-awards-winners/">award-winning,</a> free
        daily word puzzle, <a href="https://tiledwords.com">Tiled Words</a>!
      </p>
    </div>
  </div>
</div>
