---
layout: layouts/base.liquid
---
<link rel="stylesheet" href="/_assets/styles/syntax-highlighting.css">

<div class="prose text-lg blog-post">
  <h1>{{ title }}</h1>

  {{ content }}

  <div class="callout">
    <h3>Fancy a game?</h3>
    <p>Play my free daily word puzzle, <a href="https://tiledwords.com">Tiled Words</a>!</p>
  </div>
</div>
