---
  layout: layouts/base.liquid
  title: Paul Makes Websites
  criticalCss: 
    - solar-system
    - home
---
<section class="hero">
  <svg class="hero__graphic solar-system" viewBox="0 0 1000 1000">
    <circle cx="500" cy="500" r="90" class="star" />

    <g class="orbit-group">
      <circle class="orbit-line"/>
      <g class="planet">
        <circle class="planet-bg"></circle>
        <circle class="planet-fill"></circle>
      </g>
    </g>

    <g class="orbit-group">
      <circle class="orbit-line"/>
      <g class="planet">
        <circle class="planet-bg"></circle>
        <circle class="planet-fill"></circle>
      </g>
    </g>

    <g class="orbit-group">
      <circle class="orbit-line"/>
      <g class="planet">
        <circle class="planet-bg"></circle>
        <circle class="planet-fill"></circle>
      </g>
    </g>
  </svg>

  <h1 class="hero__heading">
    Paul combines
    <b>code</b> and <b>design</b> to build <b>innovative</b>, <b>fast</b>, and <b>accessible</b> digital experiences.
  </h1>
</section>
