{% capture _cover %}
  {%assign _src = article.url | articleCoverUrl: article.data.cover%}
  {% image _src, "", "(min-width: 600px) 33vw, 100vw" %}
{% endcapture %}

{% capture _info %}
  <p class="card__description">{{ article.data.description }}</p>

  <span>{{ article.data.date | formatDate }}</span>
{% endcapture %}

{% assign _title = article.data.title %}
{% assign _url = article.data.externalUrl | default: article.url %}

{% include 'partials/card.liquid', cover: _cover, title: _title, url: _url, info: _info %}
