{% capture _cover %}
  <div class="card__cover card__cover--article">
    {% assign _src = article.url | articleCoverUrl: article.data.cover %}
    {% image _src, "", "(min-width: 600px) 33vw, (min-width: 1000px) 40vw, 100vw", lazyLoad %}
  </div>
{% endcapture %}

{% capture _info %}
  <p class="card__description">{{ article.data.description }}</p>

  <span>
    {{ article.data.date | formatDate }}
  
    {% if article.data.order %}
      | Featured Article
    {% endif %}
  </span>
{% endcapture %}

{% assign _title = article.data.title %}
{% assign _url = article.data.externalUrl | default: article.url %}

{% include 'partials/card.liquid', cover: _cover, title: _title, url: _url, info: _info %}
