<article class="card">
  {% if cover %}
    {{ cover }}
  {% endif %}

  <h2 class="card__title">
    <a href="{{url}}" class="card__link">
      {{ title }}
    </a>
  </h2>

  <div class="card__info">
    {{ info }}
  </div>
</article>
