<article class="card">
  {% if cover %}
    <div class="card__cover">
      {{ cover }}
    </div>
  {% endif %}

  <h3 class="card__title">
    <a href="{{url}}" class="card__link">
      {{ title }}
    </a>
  </h3>

  <div class="card__info">
    {{ info }}
  </div>
</article>
